{% extends "layout.html" %}

{% block title %}
eVýsledky - Správy
{% endblock %}

{% block stylesheet %}
{{ super() }}
<link rel="stylesheet" href="{{ url_for('static', filename='css/spravy.css') }}">
{% endblock %}

{% block header %}
Správy
{% endblock %}

{% block content %}
<div class="spravy-content">
  <h2>Správy</h2>
  <p>Táto sekcia zatiaľ nemá žiaden obsah. Pracujeme na nej!</p>
</div>
{% endblock %}

{% block scripts %}
  {{ super() }}
  <script src="{{ url_for('static', filename='js/spravy.js') }}" defer></script>
{% endblock %}