{% extends "layout.html" %}

{% block stylesheet %}
  {{ super() }}
  <link rel="stylesheet" href="{{ url_for('static', filename='css/hospital_details.css') }}">
{% endblock %}

{% block title %}
Detaily Nemocnice
{% endblock %}

{% block header %}
Detaily Nemocnice
{% endblock %}

{% block content %}
<div class="hospital-container">
  <!-- Dynamicky vygenerovaný formulár s údajmi o nemocnici -->
  <div id="dynamic-hospital-form"></div>
  <!-- Tlačidlo na uloženie zmien -->
  <button id="save-hospital-btn" class="save-btn">Uložiť zmeny</button>
</div>
{% endblock %}

{% block scripts %}
  {{ super() }}
  <script src="{{ url_for('static', filename='js/hospital_details.js') }}"></script>
{% endblock %}
